body { background: #2c4143; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-email-0 { color: #cbf825; font-size: 18px; margin-bottom: 5px; }
.block-logger-1 { color: #4c4b35; font-size: 13px; margin-bottom: 5px; }
.block-logger-2 { color: #2a7012; font-size: 17px; margin-bottom: 5px; }
.block-sms-3 { color: #fffd22; font-size: 12px; margin-bottom: 5px; }
.block-config-4 { color: #f27263; font-size: 14px; margin-bottom: 5px; }
.block-uploader-5 { color: #f5693d; font-size: 20px; margin-bottom: 5px; }
.block-payment-6 { color: #3311d9; font-size: 16px; margin-bottom: 5px; }